# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# System plików
.DS_Store
Thumbs.db

# Unity
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Mm]emoryCaptures/
[Pp]rofileData/

# Pliki wygenerowane
*.csproj
*.sln
*.suo
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.opendb
*.VC.db

# Pliki systemowe
*.swp
*.lock
*.log
*.tmp
*.temp
*.bak
*.cache

# Pliki edytora Unity
*.unityproj
*.idea/
*.vscode/
*.asset
*.prefs

# Pakiety Asset Store
*.unitypackage

# Ustawienia platform
[Oo]utput/
[Bb]uild/

# Dane Użytkownika
.vs/
*.private

Temp/
